:root {
  --color-info: #00b6ff;
}

body {
  font-family: "Montserrat", sans-sherif;
  background: radial-gradient(ellipse at center, #2c5364, #203a43, #0f2027);
  background-repeat: no-repeat;
  height: 100vh;
  color: #ffffff;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px -10px #0f2027;
  margin: 0 50px;
}

.card .image img {
  display: block;
}

.card .title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.7) 50%
  );
  padding: 40px 20px 20px;
  font-size: 2rem;
}

.card .author {
  font-size: 0.8rem;
  opacity: 0.6;
}

/* ======================= */

.info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px 25px;
  cursor: help;

  clip-path: circle(5% at 89% 9.5%);
  transition: background-color 500ms ease-in-out, clip-path 500ms ease-in-out;
}

.info:hover {
  background-color: grey;
  clip-path: circle(70%);
}

.info .icon {
  position: absolute;
  right: 30px;
  top: 30px;
  font-weight: 700;
  font-size: 1.1rem;

  transition: color 500ms;
}

.info:hover .icon {
  color: var(--color-info);
}
